
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root{
  --spectral: "Spectral", serif;
}
.hero{
    background:  
    url("imgs/hero_header.webp");
    position: relative;
    height: 300px;
}
.hero:after {
    content: '';
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent 70%,rgba(255,255,255,0.8) 90%, white 100%);
    top:0;
    left:0;
    height: 300px;
    width:100%;
  }

  #map {
    width: 100%;
    height: 500px;
}

  .gradient-border {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    overflow: hidden;
    padding:3px
}

.gradient-border::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(60deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    background-size: 150% 150%;
    z-index: -1;
    animation: moveGradient 4s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a.link{
    padding:3px 3px;
    background-color: white;
    color:black;
}

p{
    text-align: justify;
    margin: 1rem 0;
    line-height: 1.5rem;
}
.news-header {
    font-family: 'Old Standard TT', serif;
}
.article-title {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}
.article-body {
    font-size: 1em; /* 16px */
    line-height: 1.75; /* 28px */
}
article.spectral{
  font-family: var(--spectral);

}
.notebook {
margin: 40px auto;
background: repeating-linear-gradient(
        45deg,        /* Angle of the gradient */
        #000000,      /* Black color */
        #000000 20px, /* Start and end of black */
        #ffffff 21px, /* Start of white line */
        #ffffff 22px  /* End of white line */
    );
padding: 20px;
}

/* Responsive container for D3.js charts */
.chart-container {
    max-width: 600px; /* You can adjust this for larger screens */
    margin: auto;
}

/* Ensures the SVG fills the container but does not overflow */
svg {
    width: 100%;
    height: auto;
    display: block; /* Removes any unnecessary whitespace below the SVG */
}

/*style for quotation*/
.quote {
  position: relative;
  font-style: italic;
  text-align: center;
  padding: 1em;
  margin: 1em 0;
  border-left: 4px solid #ccc;
  color: #333;
  background-color: #f9f9f9;
  max-width: 80%;
  margin: 20px auto;
  background-image:
      linear-gradient(to right, #e5e5e5 1px, transparent 1px),
      linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
    background-size: 20px 20px;
}

.quote::before {
  content: "“";
  font-size: 2em;
  position: absolute;
  left: 0.5em;
  top: -0.2em;
  color: #888;
}

.quote::after {
  content: "”";
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  bottom: -0.2em;
  color: #888;
}

/* Style for the speach bubbles */

/* Left speech bubble */
.left-bubble {
    position: relative;
    display:inline-flex;
    background: #f1f0f0;
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-width: 60%;
    margin-right: auto; /* Pushes the bubble to the left */
  }
  
  .left-bubble::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #f1f0f0;
    border-left: 0;
    border-bottom: 0;
    margin-top: -5px;
  }
  
  /* Right speech bubble */
  .right-bubble {
    position: relative;
    display:inline-flex;
    background: #0084ff;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-width: 60%;
    margin-left: auto; /* Pushes the bubble to the right */
  }
  
  .right-bubble::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -10px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #0084ff;
    border-right: 0;
    border-bottom: 0;
    margin-top: -5px;
  }

  .book {
    margin: 0 auto;
    background-color: white;
    columns: 22rem auto;
    column-gap: 1.5rem;
  
    background: white;
  }

  .book .wine-glass {
    float: right;
    height: 20rem;
  
    shape-outside: url("/imgs/graphics/wine_glass.png");
    shape-image-threshold: 0.5;
    shape-margin: 1rem;
  }

  .book h1 {
    margin: 3rem 0 6rem 0;
    padding: 0.5rem;
  
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: italic;
    color:black;
    border-top: solid 0.15rem black;
    border-bottom: solid 0.15rem black;
  }
  
  .book p {
    text-align: justify;
    margin: 1rem 0;
    color:black;
    line-height: 1.5rem;
  }
  .has-dropcap:first-letter {
    font-family: var(--spectral);
    float: left;
    font-size: 6rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
    color: #903; /* Dropcap color */
  }
  
  .dropcap {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    background: #303030;
    color: #FDF9F2;
    float: left;
    font-size: 6rem;
    line-height: 1;
    margin: 0.1em 0.1em 0.2em 0;
    padding: 0.1em;
  }
  .paper-wrapper{

    background-color: white;
    line-height: 1.6rem;
  }
  .paper{
    margin: 0 auto;
    columns: 22rem auto;
    column-gap: 1.5rem;
    font-family: 'Georgia', serif;

    margin: 2em auto;
    padding: 2rem 2em;
    
    color: #333;
  }
  .paper-wrapper  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;

}
.paper-wrapper h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}
.paper-wrapper h3 {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.paper p {
    margin-bottom: 1em;
}

.abstract {
  background: #ecf0f1;
  padding: 1em;
  border-left: 4px solid #3498db;
  margin-bottom: 2em;
}
.authors {
  font-style: italic;
  margin-bottom: 1.5em;
  text-align: center;
}
    
  @media screen and (max-width: 600px) {
    .left-bubble, .right-bubble {
      max-width: 90%;
    }

    .paper{
      padding: 1.5rem 1.5rem;
    }
  }
  