body {

}

.hero{
    background:  
    url("imgs/hero_header.webp");
    position: relative;
    height: 300px;
}
.hero:after {
    content: '';
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent 70%,rgba(255,255,255,0.8) 90%, white 100%);
    top:0;
    left:0;
    height: 300px;
    width:100%;
  }

  #map {
    width: 100%;
    height: 500px;
}

  .gradient-border {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    overflow: hidden;
    padding:3px
}

.gradient-border::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(60deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    background-size: 150% 150%;
    z-index: -1;
    animation: moveGradient 4s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a.link{
    padding:3px 3px;
    background-color: white;
    color:black;
}
.news-header {
    font-family: 'Old Standard TT', serif;
}
.article-title {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}
.article-body {
    font-size: 1em; /* 16px */
    line-height: 1.75; /* 28px */
}

.notebook {
margin: 40px auto;
background: repeating-linear-gradient(
        45deg,        /* Angle of the gradient */
        #000000,      /* Black color */
        #000000 20px, /* Start and end of black */
        #ffffff 21px, /* Start of white line */
        #ffffff 22px  /* End of white line */
    );
padding: 20px;
}

/* Responsive container for D3.js charts */
.chart-container {
    max-width: 600px; /* You can adjust this for larger screens */
    margin: auto;
}

/* Ensures the SVG fills the container but does not overflow */
svg {
    width: 100%;
    height: auto;
    display: block; /* Removes any unnecessary whitespace below the SVG */
}