<header class="text-center py-8 hero bg-bottom bg-cover max-w-4xl mx-auto pb-8 flex items-center flex-col">
    <div class="m-auto">
        <h1 class="text-3xl md:text-5xl font-bold tracking-wide text-white tracking-tighter">GIANMARCHISSIMO</h1>
        <nav class="mt-4">
            <ul class="flex flex-wrap justify-center gap-2 sm:gap-4 px-4">
                <li><a href="/" class="hover:underline text-white text-sm sm:text-base">Home</a></li>
                <li><a href="/static/contacts.html" class="hover:underline text-white text-sm sm:text-base">Contacts</a></li>
                <li><a href="/static/oracoli.html" class="hover:underline text-white text-sm sm:text-base">Oracula</a></li>
                <li><a href="/static/games/index.html" class="hover:underline text-white text-sm sm:text-base">Ludoteca</a></li>
                <li><a href="/cheatsheet/index.html" class="hover:underline text-white text-sm sm:text-base">Cheatsheet</a></li>
            </ul>
        </nav>
    </div>
</header>
<header class="max-w-4xl mx-auto pb-8 flex items-center flex-col text-center py-12 bg-white">
    <h1 class="text-5xl font-bold" id="subtitle">{{ title }}</h1>
    <p class="text-center">{{ subtitle }}</p>
</header>
