<header class="text-center py-8 hero bg-bottom bg-cover max-w-4xl mx-auto pb-8 flex items-center flex-col">
    <div class="m-auto">
        <h1 class="text-3xl md:text-5xl font-bold tracking-wide text-white tracking-tighter">GIANMARCHISSIMO</h1>
        <nav class="mt-4">
            <ul class="flex justify-center space-x-4">
                <li><a href="/" class="hover:underline text-white">Home</a></li>
                <li><a href="/static/contacts.html" class="hover:underline text-white">Contacts</a></li>
                <li><a href="/static/oracoli.html" class="hover:underline text-white">Oracoli</a></li>
                <li><a href="/static/games/index.html" class="hover:underline text-white">Ludoteca</a></li>
            </ul>
        </nav>
    </div>
</header>
<header class="max-w-4xl mx-auto pb-8 flex items-center flex-col text-center py-12 bg-white">
    <h1 class="text-5xl font-bold" id="subtitle">{{ title }}</h1>
    <p class="text-center">{{ subtitle }}</p>
</header>
